@import 'tailwindcss';

body {
    @apply text-white;
    font-family: 'Inter', sans-serif;
    background-color: black;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  @apply scale-110;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: whitesmoke
}